a{
    text-decoration: none;
    color: unset;
}

a:hover{
    color: unset;
}

.logo-small{
    width: 65px;
    height: 40px;
}

aside{
    width: 150px;
    height: calc(100vh - 56px);
    background-color: #101c30;
    background-image: url(../img/sidebar-bg.png);
}

.my-container-main{
    width: calc(100% - 150px);
    height: calc(100vh - 56px);
    overflow-x: hidden;
    overflow-y: auto;
}

.my-header-main{
    background-color: #3e61e7;
}

#img-stats{
    width: 100%;
}

.bordo-card{
    border: 1px solid lightgray;
    padding: 10px;
}

#offcanvasExample{
    width: 50%;
}

.input-group-text{
    background-color: transparent;
}


/* media query */

@media all and (max-width: 991px) {
    aside{
        width: 50px;
    }

    .my-container-main{
        width: 100%;
    }

    #offcanvasExample{
        width: 100%;
    }
}

@media all and (max-width: 575px) {
    .disp-none-sm{
        display: none;
    }
}
