a{
    text-decoration: none;
    color: unset;
}

a:hover{
    color: unset;
}

.logo-small{
    width: 65px;
    height: 40px;
}

aside{
    width: 150px;
    height: calc(100vh - 56px);
    background-color: #101c30;
    background-image: url(../img/sidebar-bg.png);
}

.my-aside-top{
    height: calc(100% - 40px);
}

.my-aside-bot{
    min-height: 40px;
}

.my-container-main{
    width: calc(100% - 150px);
}

.my-header-main{
    height: 100px;
    background-color: #3e61e7;
}